In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_stata('mus03data.dta')
df = df[df.columns.drop('index')]
df

,dupersid,year03,famsze,educyr,totexp,private,retire,female,white,hisp,...,hmo,mnc,ratio,posexp,suppins,hvgg,hfp,ltotexp,hins,hdem
0,93193020.0,1.0,2.0,14.0,3.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.098612,1.0,NaN
1,72072017.0,1.0,1.0,11.0,6.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.791759,NaN,1.0
2,25296013.0,1.0,1.0,14.0,9.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.197225,NaN,1.0
3,23628011.0,1.0,5.0,10.0,14.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.639057,1.0,1.0
4,95041014.0,1.0,1.0,14.0,18.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.890372,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3059,92818025.0,1.0,2.0,12.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,1.0,1.0
3060,23505022.0,1.0,1.0,12.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3061,27253022.0,1.0,3.0,8.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,1.0
3062,93513011.0,1.0,3.0,12.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,1.0,1.0
3063,28081016.0,1.0,1.0,12.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0,NaN