In [8]:
import pandas as pd
import numpy as np

## Ejercicio Número 1

In [9]:
df = pd.read_stata('mus03data.dta')
df = df[['ltotexp','suppins', 'phylim', 'actlim', 'totchr', 'age', 'female', 'income']]
df = df.dropna()
y = df[['ltotexp']].to_numpy()
x = df[['suppins', 'phylim', 'actlim', 'totchr', 'age', 'female', 'income']].assign(cte=1)
x_columns = x.columns.tolist()
new_cols = x_columns[-1:] + x_columns[:-1]
x = x[new_cols].to_numpy()

In [10]:
beta_hat = np.linalg.inv(x.T.dot(x)).dot(x.T).dot(y)

In [11]:

#SRC = y'y-b'(x'x)b
src = y.T.dot(y)-beta_hat.T.dot(x.T.dot(x)).dot(beta_hat)
s_sqr = src/(2955-8)
var_est = s_sqr*np.linalg.inv(x.T.dot(x))

In [12]:
res = {'coef': [], 'destandar': [], 'tstat': []}
for i in range(0,8) : #Coinciden con la práctica 
    se = np.sqrt(var_est.item(i,i))
    beta = beta_hat.item(i,0)
    t = beta/se
    res['coef'].append(beta)
    res['destandar'].append(se)
    res['tstat'].append(t)
res = pd.DataFrame(data = res)

In [13]:
res

       coef  destandar      tstat
0  6.703737   0.276760  24.222225
1  0.255643   0.046226   5.530236
2  0.302060   0.056971   5.302005
3  0.356005   0.062112   5.731694
4  0.375820   0.018423  20.399829
5  0.003802   0.003656   1.039798
6 -0.084328   0.045544  -1.851555
7  0.002550   0.001019   2.501307

## Ejercicio Número 2

In [20]:
np.random.seed(1313)
data = {'i': [], 't': [] , 'y':[], 'cte': [], 'x': [], 'u': []}
for i in range(1,501): 
    for t in range(1,11) : 
        data['i'].append(i)
        data['t'].append(t)
        data['cte'].append(1)
        x = np.random.normal(0,1,1)
        u = np.random.normal(0,1,1)
        data['x'].append(x)
        data['u'].append(u)
        data['y'].append(1 + x + u)
data = pd.DataFrame(data = data)
data

,i,t,y,cte,x,u
0,1,1,[-0.4598603613601281],1,[-0.012637343688980257],[-1.4472230176711478]
1,1,2,[1.2505422885980557],1,[0.5917425828389031],[-0.34120029424084747]
2,1,3,[2.4886363074058204],1,[1.013576617125698],[0.4750596902801228]
3,1,4,[0.48562277160790457],1,[0.1326140228842247],[-0.6469912512763202]
4,1,5,[1.6376455059599757],1,[1.1184554371198216],[-0.4808099311598458]
...,...,...,...,...,...,...
4995,500,6,[-0.32352943453564387],1,[-0.2866074400896077],[-1.0369219944460362]
4996,500,7,[1.6598561229423003],1,[0.7018803938465973],[-0.04202427090429677]
4997,500,8,[0.8135115475144687],1,[-1.5004080762317091],[1.3139196237461779]
4998,500,9,[0.5860757132528602],1,[-0.14813278588932494],[-0.26579150085781483]
4999,500,10,[1.9371227540153038],1,[1.156966666525398],[-0.21984391251009447]

In [16]:
np.random.normal(0,1,1)

array([-0.01263734])