In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_stata('mus03data.dta')
y = df[['ltotexp']].to_numpy()
x = df[['suppins', 'phylim', 'actlim', 'totchr', 'age', 'female', 'income']].assign(cte=1)
xs

      suppins  phylim  actlim  totchr   age  female  income  cte
0         1.0     0.0     0.0     0.0  69.0     0.0  12.804    1
1         1.0     1.0     0.0     0.0  65.0     1.0  34.959    1
2         0.0     1.0     1.0     0.0  85.0     1.0  12.000    1
3         0.0     0.0     0.0     0.0  76.0     1.0   7.000    1
4         0.0     0.0     0.0     1.0  71.0     1.0   9.308    1
...       ...     ...     ...     ...   ...     ...     ...  ...
3059      1.0     0.0     0.0     1.0  71.0     1.0  22.388    1
3060      0.0     0.0     1.0     0.0  73.0     0.0   6.624    1
3061      0.0     1.0     0.0     0.0  73.0     1.0   8.000    1
3062      0.0     0.0     0.0     1.0  84.0     1.0   6.840    1
3063      0.0     0.0     0.0     0.0  78.0     0.0  12.000    1

[3064 rows x 8 columns]